<ul>
  <li><a class="icon" href="http://www.facebook.com/sharer.php?u=<%= page.permalink %>"><i class="fab fa-facebook <%= icon_class_name %>"
  aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
  <li><a class="icon" href="https://twitter.com/share?url=<%= page.permalink %>&text=<%= page.title %>"><i class="fab fa-twitter <%= icon_class_name %>" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
  <li><a class="icon" href="http://www.linkedin.com/shareArticle?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fab fa-linkedin <%=
  icon_class_name %>" aria-hidden="true"></i><span class="sr-only">LinkedIn</span></a></li>
  <li><a class="icon" href="mailto:?subject=<%= page.title %>&body=Check out this article: <%= page.permalink %>"><i class="fas fa-envelope <%= icon_class_name %>" aria-hidden="true"><span class="sr-only">Email</span></i></a></li>
  <li><a class="icon" href="http://reddit.com/submit?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fab fa-reddit <%= icon_class_name %>" aria-hidden="true"></i><span class="sr-only">Reddit</span></a></li>
  <li><a class="icon" href="http://www.stumbleupon.com/submit?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fab fa-stumbleupon <%= icon_class_name %>" aria-hidden="true"></i><span class="sr-only">Stumble Upon</span></a></li>
  <li><a class="icon" href="https://news.ycombinator.com/submitlink?u=<%= page.permalink %>&t=<%= page.title %>"><i class="fab fa-hacker-news <%= icon_class_name %>" aria-hidden="true"></i><span class="sr-only">Hacker News</span></a></li>
</ul>
